<div class="filter">
  <button class="available-button" nz-button (click)="toggleAvailable()">Available</button>
  <button class="pending-button" nz-button (click) = "togglePending()">Pending</button>
  <button class="sold-button" nz-button (click)="toggleSold()">Sold</button>
  <app-menu style="margin: 0 0 0 50px"></app-menu>
</div>

<nz-table  [nzData]="petStatus" [nzPageSize]="10" [nzScroll]="{ y: '400px' }">
  <thead>
  <tr>
    <th nzWidth="150px">Photo</th>
    <th nzCustomFilter nzWidth="150px">Name <i
      nz-th-extra
      class="ant-table-filter-icon"
      nz-icon
      nz-dropdown
      #dropdown="nzDropdown"
      nzType="search"
      [nzDropdownMenu]="menu"
      [class.ant-table-filter-open]="dropdown.nzVisible"
      nzTrigger="click"
      nzPlacement="bottomRight"
      [nzClickHide]="false"
      nzTableFilter></i>
    </th>
    <th nzWidth="150px">Status</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let petStatus of petStatus | searchByName: searchValue">
      <td><img src="../../../assets/pic/empty pic.jpg" height="70" width="90"/></td>
      <td>{{ petStatus.name }}</td>
      <td>{{ petStatus.status }}</td>
      <td>{{petStatus.id}}</td>
      <td><button nz-button (click)="deletePet(petStatus.id)">Delete</button></td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
  </div>
</nz-dropdown-menu>

