.pets-container{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1000px;
  height: 300px;
  background: red;
  .pets {
    border: solid black;
    margin: 30px 0 0 0;
    width: 100px;
    float: right;
  }
}
.filter {
  background: white;
  .add-button {
    margin: 0 0 0 40px;
  }
}
