@font-face {
  font-family: Ogr;
  src: url("../assets/fonts/ogr.otf");
}
body {
  background-image: url("../assets/pic/white-gridius-2.png");
  header{
    .img {
      height: 50px;
      width: 40px;
      transform: scale(-1, 1);
      padding: 0 0 10px 0;
      margin: 0 0 0 10px;
    }
    label{
      font-size: 24px;
      font-family: "Ogr";
      padding: 0 0 0 15px;
      color: black;
    }
    .auth {
      float: right;
    }
  }
}
