  <body>
    <header>
      <img class="img" src="../assets/pic/doggo.png">
        <span>
          <label>PetStockShop</label>
        </span>
      <app-auth class="auth"></app-auth>
    </header>
    <button [hidden]="isVisibleShowPet" nz-button (click)="showPets(); showHide()">Show Pets</button>
    <button [hidden]="isVisibleHidePet" nz-button (click)="showPets(); showHide()">Hide Pets</button>
    <button [hidden]="isVisibleShowOrder" nz-button (click)="showOrders(); showHide2()">Show Orders</button>
    <button [hidden]="isVisibleHideOrder" nz-button (click)="showOrders(); showHide2()">Hide Orders</button>
    <p></p>
    <app-petl [hidden]="isVisiblePets"></app-petl>
    <app-orders [hidden]="isVisibleOrders"></app-orders>
    <footer>
    </footer>
  </body>


