  <a class="user" [hidden]="isVisibleDropdown1" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    <nz-avatar nzIcon="user"></nz-avatar>
  </a>
  <a class="user" [hidden]="isVisibleDropdown2" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu2">
    <nz-avatar nzIcon="user"></nz-avatar>
  </a>

  <div>
    <nz-dropdown-menu #menu2="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item><button (click)="logOut(); switchLog()" nz-button>Выход</button></li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <div class="log-off" >
    <nz-dropdown-menu  #menu="nzDropdownMenu">
      <ul style="width: 200px" nz-menu>
        <li nz-menu-item><button style="width: 100%" nz-button (click)="showModalLogin()">Войти</button></li>
        <li nz-menu-item><button style="width: 100%" nz-button (click)="showModalRegister()">Регистрация</button></li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <nz-modal [(nzVisible)]="isVisibleRegister" nzTitle="Registration" (nzOnCancel)="handleCancelRegister()"
            (nzOnOk)="pushDataRegister(); handleOkRegister()">
    <label>ID:</label>
      <input nz-input (ngModelChange)="onChangeID($event)" [ngModel]="id">
    <label>Username:</label>
      <input nz-input (ngModelChange)="onChangeUserName($event)" [ngModel]="username">
      <label>First Name:</label>
      <input nz-input (ngModelChange)="onChangeFirstName($event)" [ngModel]="firstName">
    <label>Last Name:</label>
      <input nz-input (ngModelChange)="onChangeLastName($event)" [ngModel]="lastName">
    <label>Email:</label>
      <input nz-input (ngModelChange)="onChangeEmail($event)" [ngModel]="email">
    <label>Password:</label>
      <input nz-input (ngModelChange)="onChangePassword($event)" [ngModel]="password">
    <label>Phone:</label>
      <input nz-input (ngModelChange)="onChangePhone($event)" [ngModel]="phone">
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisibleLogin" nzTitle="Login" (nzOnCancel)="handleCancelLogin()"
            (nzOnOk)="pushDataLogin(); handleOkLogin(); switchLog()">
    <label>Username:</label>
      <input nz-input (ngModelChange)="onChangePasswordUserName($event)" [ngModel]="usernameLogin">
    <label>Password:</label>
      <input nz-input (ngModelChange)="onChangePasswordLogin($event)" [ngModel]="passwordLogin">
  </nz-modal>
