<button class="add-button" nz-button (click)="showModal()">Add Pet</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Adding a pet" (nzOnCancel)="handleCancel()" (nzOnOk)="pushData(); handleOk()">
  <label>ID</label>
    <input nz-input (ngModelChange)="onChangeId($event)" [ngModel]="id">
  <label>Category</label>
  <nz-select style="width: 100%" [ngModel]="postData.category.name">
    <nz-option nzValue="cats" nzLabel="Cats"></nz-option>
    <nz-option nzValue="dogs" nzLabel="Dogs"></nz-option>
  </nz-select>
  <label>Name</label>
    <input nz-input (ngModelChange)="onChangeName($event)" [ngModel]="name">
    <p></p>
  <label>Status</label>
    <input
      nz-input
      [(ngModel)]="postData.status"
      (ngModelChange)="onChange($event)"
      [nzAutocomplete]="auto"
    />
 <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
</nz-modal>
