<div class="find">
  <input [ngModel]="id" (ngModelChange)="onChange($event)" nz-input placeholder="Input Order ID">
  <button nz-button (click)="pullOrder(); showDelete()">Find</button>
  <button class="add-btn" nz-button (click)="showModal()">Add</button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Adding a pet" (nzOnCancel)="handleCancel()" (nzOnOk)="postOrder(); handleOk()">
    <label>Order ID:</label>
      <input nz-input (ngModelChange)="onChangeId($event)" [ngModel]="idO">
    <label>Pet ID:</label>
      <input nz-input (ngModelChange)="onChangePetId($event)" [ngModel]="petId">
    <label>Quantity:</label>
      <input nz-input (ngModelChange)="onChangeQuantity($event)" [ngModel]="quantity">
    <label>Ship Date:</label>
      <nz-date-picker style="width: 100%;" (ngModelChange)="onChangeShipDate($event)" [ngModel]="shipDate"></nz-date-picker>
    <label>Status:</label>
      <input nz-input (ngModelChange)="onChangeStatus($event)" [ngModel]="status">
    <label>Complete:</label>
      <input placeholder="true or false" nz-input (ngModelChange)="onChangeComplete($event)" [ngModel]="complete">
  </nz-modal>
</div>

<nz-table [nzBordered]="true" class="table" nzTemplateMode>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Order</td>
      <td>{{order?.id}}</td>
    </tr>
    <tr>
      <td>Pet ID</td>
      <td>{{order?.petId}}</td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td>{{order?.quantity}}</td>
    </tr>
    <tr>
      <td>Ship Date</td>
      <td>{{order?.shipDate | date:'fullDate'}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{order?.status}}</td>
    </tr>
    <tr>
      <td>Complete</td>
      <td>{{order?.complete}}</td>
    </tr>
    <button nz-button [hidden]="isVisibleDelete" (click)="deleteOrder()">Delete</button>
  </tbody>
</nz-table>

